%div.chat_main_center-message
  %div.chat_main_center-messageTop
    %p.chat_main_center-messageTop-user test_user
    %p.chat_main_center-messageTop-date 2019/12/23(Wed) 17:50:42
  %p.chat_main_center-message-detail こんにちは
%div.chat_main_center-message
  %div.chat_main_center-messageTop
    %p.chat_main_center-messageTop-user before_user
    %p.chat_main_center-messageTop-date 2019/10/23(Wed) 17:50:42
  %p.chat_main_center-message-detail さよなら！
