%div.chat_main_center-message
  %div.chat_main_center-message-top
    %p.chat_main_center-message-top-user test_user
    %p.chat_main_center-message-top-date 2019/12/23(Wed) 17:50:42
  %p.chat_main_center-message-detail こんにちは
%div.chat_main_center-message
  %div.chat_main_center-message-top
    %p.chat_main_center-message-top-user before_user
    %p.chat_main_center-message-top-date 2019/10/23(Wed) 17:50:42
  %p.chat_main_center-message-detail さよなら！
