%div.sidebar_main_center-group
  %p.sidebar_main_center-group-name test_group
  %p.sidebar_main_center-group-message まだ、メッセージはありません。
%div.sidebar_main_center-group
  %p.sidebar_main_center-group-name next_group
  %p.sidebar_main_center-group-message 赤ちゃんの声が聞こえる。