.sidebar{
  width:300px;
  height:100vh;
  float:left;

  .sidebar_header{
    height:100px;
    background-color: #253141;

    .sidebar_header_center{
      height:100%;
      margin:0 20px;

      p{
        float:left;
        font-size:16px;
        color:#FFFFFF;
        font-weight: bold;
        margin:42px 0;
      }

      .sidebar_header_center-icon{
        float:right;
        margin:42px 0;

        i{
          color:white;
        }
      }

    }
  }
  .sidebar_main{
    height:calc(100% - 100px);
    background-color: #2f3e51;

    .sidebar_main_center{
      height:100%;
      margin:0 20px;
      padding-top:20px;

      .sidebar_main_center-group{
        
        .sidebar_main_center-group-name{
          font-size:15px;
          color:#FFFFFF;
          font-weight: bold;
          margin-top:0;
          margin-bottom:5px;
        }
        .sidebar_main_center-group-message{
          font-size:11px;
          color:#FFFFFF;
          font-weight: bold;
          margin-top:0px;
          margin-bottom:40px;
        }
      }
    }
  }
}